<launch>
    <arg name="droneip" default="192.168.1.1" />
    <node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" output="screen" args="-ip $(arg droneip)">
        <param name="navdata_demo" value="False" />
        <param name="realtime_navdata" value="True" />
        <param name="realtime_video" value="True" />
        <param name="looprate" value="50" />

        <param name="altitude_max" value="100000" />
        <param name="altitude_min" value="50" />
        
        <param name="control_vz_max" value="2000" />
        <!-->
        <param name="control_yaw" value="6.11" />
        <param name="euler_angle_max" value="0.35" />-->
    </node>


</launch>

<!--

rostopic pub -r 10 /cmd_vel geometry_msgs/Twist  '{linear:  {x: 0.0, y: 0.0, z: 0.3}, angular: {x: 0.0,y: 0.0,z: 0.0}}'
rostopic pub -r 10 /cmd_vel geometry_msgs/Twist  '{linear:  {x: 0.0, y: 0.0, z: -0.2}, angular: {x: 0.0,y: 0.0,z: 0.0}}'


-->
